:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

h1 {
  /* 8 used declarations */
  color: blue;
  background-color: yellow;
  border: 5px dashed black;
  /* border-top: 5px;
  border-style: dashed;
  border-color: black; */
  padding: 5px 10px 5px 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

h2 {
  /* two declarations */
  color: green;
  font-weight: 300;
}

p {
  /* one declaration */
  color: red;
}
p:hover {
  /* one declaration */
  width: 100px;
  height: auto;
  margin: auto 10px;
  color: green;
  transform: translate3d(0px, 0px, 0px);
  transform: scale(-0.5);
}

li:first-child {
  /* one declaration */
  font-weight: bold;
}
/* one declaration
.first {
  font-weight: bold;
}
*/

li:nth-child(even) {
  /* one declaration */
  font-family: cursive;
  background-color: lightgray;
}

.done {
  /* one declaration */
  text-decoration: line-through;
}

#polite {
  /* one declaration */
  font-family: cursive;
}
#rude {
  /* one declaration */
  font-family: monospace;
  text-transform: uppercase;
}
